<div class="py-10">
  <div class="container mx-auto">
    <h1 class="text-2xl font-medium mb-4 text-center">Search Blogs</h1>

    <div class="text-center mb-5">
      <app-search-form></app-search-form>
    </div>
    <div class="text-sm text-gray-500 mb-6 text-center">
      @if(queryParam) {
      <span>
        Showing results for "
        <strong>{{ queryParam }}</strong
        >"
      </span>
      }
    </div>
    @if (blogs$ | async; as blogs) {
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16 gap-14">
      @for (blog of blogs; track blog.id) {
      <app-blog-item [blog]="blog"></app-blog-item>
      }
    </div>
    }
  </div>
</div>
